.left{
  border-radius: 2px solid #ccffff;
  margin: 4px;
  border-radius: 1%;
  background-color: #ccffff;
  width: 80%;
  margin-top: 4%;

}
.left img{
  padding-left: 40%;
  padding-right: 40%;
  border-radius: 50%;

}
.right{
  border: 2px solid white;
  margin-left: 10%;
  border-radius:5%;
  background-color: white;
  width: 40%;

}
.right img{
  padding-left: 40%;
  padding-right: 40%;
  border-radius: 50%;
}
.main{
  display: flex;
  flex-direction: row;

}
